@page "/Components"
@using BlazorDemo.Repositories
@using BlazorDemo.Entities
@inject IKaasRepository KaasRepo
<h3>Components</h3>

<h4>Autocompleter</h4>

<Autocompleter T="KaasEntity" Data="Kazen" OnItemSelect="HandleItemSelected" Context="suggestion">
    <ItemTemplate>
        <li class="@(suggestion.IsHighlighted ? "highlight" : "")">
            @suggestion.Item.Naam ruikt naar @suggestion.Item.Geur - @suggestion.IsHighlighted
        </li>
    </ItemTemplate>
</Autocompleter>


<h4>Lifecycle</h4>

<button @onclick="() => ShowLifecycle = !ShowLifecycle">Toggle life</button>

@if (ShowLifecycle)
{
    <Life Getal="42"></Life>
}


@code {
    public bool ShowLifecycle { get; set; } = false;
    public IEnumerable<KaasEntity> Kazen { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Kazen = await KaasRepo.GetAll();
    }

    void HandleItemSelected(KaasEntity kaas)
    {
        Console.WriteLine("Geselecteerde kaas: " + kaas.Naam + " ruikt naar " + kaas.Geur);
    }

}