@page "/"
@using BlazorDemo.Entities

<h1>Eerste pagina</h1>

<EditForm Model="NewKaas" OnValidSubmit="AddKaas">
    <DataAnnotationsValidator />
    <ol>
        <li>
            <label for="input-name">Naam:</label>
            <CustomInputText id="input-name" @bind-Value="NewKaas.Naam"/>
            <ValidationMessage For="() => NewKaas.Naam"/>
        </li>
        <li>
            <label for="input-scent">Geur:</label>
            <InputText id="input-scent" @bind-Value="NewKaas.Geur"/>
            <ValidationMessage For="() => NewKaas.Geur"/>
        </li>
        <li>
            <label for="input-photo-url">Afbeelding URL:</label>
            <InputText id="input-photo-url" @bind-Value="NewKaas.ImageUrl"/>
            <ValidationMessage For="() => NewKaas.ImageUrl"/>
        </li>
        <li>
            <button>Voeg toe</button>
        </li>
    </ol>
</EditForm>

@if (Kazen == null || !Kazen.Any())
{
    <p>Nog geen kazen vandaag.</p>
}
else
{
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Geur</th>
            <td>
                <img src="">
            </td>
        </tr>
        @foreach (var kaas in Kazen)
        {
            <tr>
                <td>@kaas.Id</td>
                <td>@kaas.Naam</td>
                <td>@kaas.Geur</td>
                <td>
                    <img src="@kaas.ImageUrl" alt="qqq">
                </td>
            </tr>
        }

        </thead>
    </table>
}